html {
	background: #000000;
	color: #999999;
	font-family: monospace;
	max-width: 80ch;
	padding: 2ch;
	margin: auto;
}

a:link {
	color: #cccccc;
}

a:visited {
	color: #777777;
}

dl {
	margin-left: 2em;
}

dd + dt {
	margin-top: 1em;
}

address {
	display: block;
	background: #000000;
	position: fixed;
	bottom: 0;
	width: 80ch;
}

body > code { display: none; }
body.c90 > code.c90 { display: block; }
body.c95 > code.c95 { display: block; }
body.c99 > code.c99 { display: block; }
body.c11 > code.c11 { display: block; }
body.c18 > code.c18 { display: block; }

body.columnar {
	column-count: 3;
}
